.books {
    margin: auto;
    max-width: 1700px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  
  @media (max-width: 1024px) {
    .books {
      grid-template-columns: 1fr ;
      grid-template-rows: auto;
    }
  }