.header-container {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container.bg-light {
    margin-bottom: 25px;
}

.bg-light {
    color: #0D0D0D;
    background-color: #fff;
    border-bottom: 1px solid #000;
}

.bg-dark {
    color: #fff;
    background-color: #0D0D0D;
    border-bottom: 1px solid #fff;
}

.header-container .header-content {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content h3 {
    cursor: pointer;
}

.header-content .cart {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header-container nav ul {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-container nav ul li {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.header-container.bg-light nav ul li {
    border-bottom: 2px solid #fff;
}

.header-container.bg-light nav ul li:hover {
    border-bottom: 2px solid #0D0D0D;
}

.cart {
    cursor: pointer;
}


@media (max-width: 768px) {
    .header-container {
        flex-direction: column;
        height: auto;
    }

    .header-container .header-content {
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }

    .header-container nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .header-container nav ul li {
        width: 100%;
        justify-content: center;
        border-bottom: none;
    }

    .header-container.bg-light nav ul li:hover {
        border-bottom: none;
    }
}